<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div >
        <p>Hello world On Heroku</p>
        <div id="hello"></div>
          </div>
      </main>
        <footer>
        </footer>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "Bearer "+"<%= oauthtoken %>";
          console.log(token);
            $Lightning.use("c:prodArchivalDependency", function() {
                  $Lightning.createComponent("c:prodArchivalDependencyCmp", {},
                     "hello",
                      function(cmp) {
                    var myExternalEvent;
                    myExternalEvent = $A.get("e.c:prodArchEvent");
                    myExternalEvent.fire();
                      });
            },url,token );
        </script>
  </body>
</html>
